#project-container,
#aboutme {
  margin: 0 auto;
  width: 90%;
  max-width: 600px;
  color: #ffffff;
  font-family: Bungeeregular;
  letter-spacing: 2px;
  font-size: 15px;
}

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #91908c;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: sans-serif;
}

header {
  margin-bottom: 20px;
  padding: 20px;
  border-bottom: 1px solid rgb(0, 164, 255);
}

.images {
  width: 60%;
  height: 60%;
  display: block;
  margin: 0 auto;
  padding-bottom: 20px;
}

header h1 {
  font-size: 2em;
}

header nav ul li {
  display: inline;
}

a {
  color: rgb(7, 67, 187);
  font-family: Bungeeregular;
}

a:hover {
  color: rgb(255, 81, 0);
}

.scratchgame {
  display: block;
  margin: 0 auto;
  padding-bottom: 20px;
}

.project {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(0, 174, 255);
}

.project iframe {
  width: 250px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.project h2,
#aboutme h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.project img,
#aboutme img {
  width: 300px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.clear {
  clear: both;
}

#title {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  font-family: Bungeeoutline;
  color: #FFFFFF;
}

@font-face {
  font-family: Bungeeoutline;
  src: url('bungeefonts/Bungee-Outline.woff2') format('woff2'),
}

@font-face {
  font-family: Bungeeregular;
  src: url('bungeefonts/Bungee-Regular.woff2') format('woff2');
}

.links {
  text-align: center;
}

.scratchembed {
  display: block;
  margin: 0 auto;
  padding-bottom: 20px;
  width: 200px;
  height: 275px;
}