#project-container,
#aboutme, 
#ghcontent {
  margin: 0 auto;
  width: 90%;
  max-width: 1000px;
  color: #ffffff;
  font-family: Rubik, sans-serif;
  letter-spacing: 2px;
  font-size: 15px; 
}

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #121212;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: sans-serif;
}

@font-face {
  font-family: Bungeeoutline;
  src: url('bungeefonts/Bungee-Outline.woff2') format('woff2'),
}

@font-face {
  font-family: Bungeeregular;
  src: url('bungeefonts/Bungee-Regular.woff2') format('woff2');
}

.rubik {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

header {
  margin-bottom: 20px;
  padding: 20px;
  border-bottom: 1px solid rgb(190, 191, 192);
}

.images {
  width: 80%;
  height: 80%;
  display: block;
  margin: 0 auto;
  padding-bottom: 20px;
}

#video {
  width: 40%;
  height: 30%;
  display: block;
  margin: 0 auto;
  padding-bottom: 20px;
}

header h1 {
  font-size: 2em;
}

header nav ul li {
  display: inline;
}

a {
  color: white;
  font-family: Bungeeregular;
  text-decoration: none;
}

a:hover {
  color: #03dac6;
}

.project {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(190, 191, 192);
}

.project iframe {
  display: block;
  padding-bottom: 20px;
  width: 900px;
  height: 500px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.project h2,
#aboutme h2, 
#ghcontent h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.project img,
#aboutme img {
  width: 450px;
  display: inline-block;
  margin: 0 5px;
  margin-bottom: 10px;
}

.clear {
  clear: both;
}

#title {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  font-family: Bungeeoutline;
  color: #FFFFFF;
}

.links {
  text-align: center;
}

.links li {
  color: white;
}

#ai-code {
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-family: Bungeeregular, sans-serif;
  text-align: center;
  font-size: 0px;
  margin-bottom: 10px;
}

h3 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 20px;
}

#result {
  width: 100%;
  text-align: center;
  padding-top: 10px;
  border-top: 1px solid white;
  margin-bottom: 10px;
}


#small-img:hover {
  cursor: zoom-in;
}

#multiimg {
  display: flex;
  justify-content: center;
}

.imgdiv {
  display: flex;
  justify-content: center;
}